.image-button {
    display: flex;

    height: 40px;
    width: 40px;
}

.image-button__image {
    height: 40px;
    width: 40px;
    padding: 8px;

    /* border-radius: 50%; */
}

.image-button__image:hover {
    background-color: #f2f4f5;

    box-shadow: 1px 1px 5px #f2f4f5;
}
