.weapon-maker {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    min-height: 600px;

    gap: 12px;
}

.weapon-maker__filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.weapon-maker__dropdown {
    width: 20%;
}

.weapon-maker__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    align-self: center;
}
