.dnd-shop {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.dnd-shop__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.dnd-shop__top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 20px;

    flex: 1;
}