
.text-input {
    display: flex;
    flex-direction: column;
}

.text-input__input {
    height: 100%;

    padding: 4px 4px;
    box-shadow: 1px 1px 4px #1f2028;
}


@media only screen and (max-width: 600px) {
    .text-input {
        width: 100%;
    }

    .text-input__input {
        height: 40px;
    }
}
