
.inventory-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 75px;
    width: 150px;
    padding: 0 4px;

    background-color: hsl(240, 4%, 24%);
    border-radius: 8px;
    box-shadow: 1px 1px 4px #1f2028;
}
.inventory-item:hover {
    background-color: #46464d;
}

.inventory-item__icon {
    cursor: grab;
}

.inventory-item__body {
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media only screen and (max-width: 600px) {
    .inventory-item {
        width: 100%;
    }
}
