.weapon-effect-list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
}

.weapon-effect-list__item {
    padding: 4px 8px;
}

.weapon-effect-list__item:hover {
    color: #2a2b30;
    background-color: #f2f4f5;
}