.skill-test-maker__title {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.skill-test-maker__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.skill-test-maker__outcome-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.skill-test-maker__outcome-item-child {
    flex: 1 1;
}

.skill-test-maker__outcome-item-child--last {
    flex: 1 1;
    justify-items: self-end;
}
