@font-face {
    font-family: "Oldenburg-Regular";
    src: url("../../assets/fonts/titles/Oldenburg-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Spectral-Regular";
    src: url("../../assets/fonts/titles/Spectral-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../../assets/fonts/body/RobotoSlab-VariableFont_wght.ttf") format('truetype');
}

@font-face {
    font-family: "Ubuntu";
    src: url("../../assets/fonts/body/Ubuntu-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Source Sans 3";
    src: url("../../assets/fonts/body/SourceSans3-VariableFont_wght.ttf") format('truetype');
}

/* Base styles */
body {
    margin: 0;

    background-color: #2a2b30;
    color: #FCFEFF;
    font-size: 16px;
}

body, input, button {
    font-size: 16px;
    font-family: "Source Sans 3", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header styling */
h1, h2 {
    margin: 8px 0;
}

/* Button and forms Styling */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.divider {
    width: 90%;
    border: none;
    border-top: 1px solid #89898b;
}

/* Page styling */
.page {
    display: flex;
    flex-direction: column;
}

.page-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding-left: 60px;

    height: 45vh;
    background-color: #FCFEFF;
    color: #2a2b30;
}
.page-title {
    align-self: center;

    font-size: 96px;
    font-family: "Spectral-Regular";
    color: #CC1818;
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-self: center;

    gap: 20px;
}
.nav-item {
    width: 100px;
    padding: 12px;
    text-align: center;

    border: 1px solid #2a2b30;
    border-radius: 12px;
    transition: all .1s ease-in-out;
    cursor: pointer;
}
.nav-item:hover {
    background-color: #f2f4f5;
    transform: scale(1.1);
}

.page-content-container {
    display: flex;
    align-self: center;

    width: 45%;
}

/* Title Cotnainer styling */

/* Card styling */
