@font-face {
    font-family: "Oldenburg-Regular";
    src: url("../../assets/fonts/titles/Oldenburg-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Spectral-Regular";
    src: url("../../assets/fonts/titles/Spectral-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../../assets/fonts/body/RobotoSlab-VariableFont_wght.ttf") format('truetype');
}

@font-face {
    font-family: "Ubuntu";
    src: url("../../assets/fonts/body/Ubuntu-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Source Sans 3";
    src: url("../../assets/fonts/body/SourceSans3-VariableFont_wght.ttf") format('truetype');
}

/* Base styles */
body {
    margin: 0;

    background-color: #252529;
    color: #FCFEFF;
    font-size: 16px;
    font-family: "Source Sans 3", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header styling */

/* Button Styling */

/* Page styling */
.page {
    display: flex;
    flex-direction: column;
}

.page-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding-left: 60px;

    height: 45vh;
    background-color: #FCFEFF;
    color: #1B1B1E;
}
.page-title {
    align-self: center;

    font-size: 96px;
    font-family: "Spectral-Regular";
    color: #CC1818;
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-self: center;

    gap: 20px;
}
.nav-item {
    padding: 12px;

    border: 1px solid #1B1B1E;
    border-radius: 12px;
    transition: all .1s ease-in-out;
    cursor: pointer;
}
.nav-item:hover {
    background-color: #f2f4f5;
    transform: scale(1.1);
}

.page-content-container {
    display: flex;
    align-self: center;

    width: 50%;
}

/* Title Cotnainer styling */

/* Card styling */
