@font-face {
    /* Header Font */
    font-family: "Spectral-Regular";
    src: url("https://liamj.b-cdn.net/assets/fonts/titles/Spectral-Regular.ttf") format('truetype');
}
@font-face {
    /* Body Font */
    font-family: "Source Sans 3";
    src: url("https://liamj.b-cdn.net/assets/fonts/body/SourceSans3-VariableFont_wght.ttf") format('truetype');
}

html, body, #app {
    height: 100%;
}

/* Base styles */
body {
    margin: 0;

    background-color: #2a2b30;
    background-image: url("https://liamj.b-cdn.net/assets/images/egg-shell.png");
    color: #FCFEFF;
    font-size: 16px;
    font-family: "Source Sans 3", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

input, textarea, button, select, option {
    font-size: 17px;
    font-family: "Source Sans 3", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input, textarea {
    background-color: #3b3b40;
    color: #FCFEFF;
    border: 1px solid #444449;
}

/* Header styling */
h1, h2, h3 {
    font-family: "Merriweather", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 8px 0;
}

/* Button and forms Styling */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;
}

.divider {
    width: 90%;
    border: none;
    border-top: 1px solid #89898b;
}

.dropdown {
    min-width: 150px;
}

/* Page styling */
.page {
    display: flex;
    flex-direction: column;
}

.page-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    background-color: #FCFEFF;
    color: #2a2b30;
}
.page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    text-align: center;
    margin-top: 20px;

    font-size: 96px;
    font-family: "Spectral-Regular";
    color: #CC1818;
}

.icon-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-content-container {
    display: flex;
    align-self: center;

    width: 50%;
}

.footer {
    align-self: center;
    width: 45%;
    margin-bottom: 20px;

    color:#89898b;
    font-size: 12px;
    text-align: center;
}

@media only screen and (min-width: 2080px) {
    .page-content-container {
        width: 40%;
    }
}

@media only screen and (max-width: 1280px) {
    .page-content-container {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    h1, h2 {
        text-align: center;
    }

    .page-title {
        font-size: 55px;
    }
    .icon-list {
        flex-direction: row;
    }

    .nav-list {
        width: 100%;
        justify-content: center;
    }
    .nav-item {
        width: 90%;
    }

    .page-content-container {
        width: 90%;
    }

    .footer {
        width: 90%;
    }
}
