.vertical-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #FCFEFF;
    color: #2a2b30;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}

.vertical-nav--open {
    transform: translateX(0);
}

.vertical-nav__list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.vertical-nav__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 140px;
    padding: 12px;

    color: #2a2b30;
    border: 1px solid #2a2b30;
    border-radius: 12px;
    transition: all .1s ease-in-out;
    cursor: pointer;
}

.vertical-nav__item--current {
    background-color: #f2f4f5;
}