.dice-roller {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 20px;
}

.dice-roller--summary {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 24px;
}

.dice-roller--result {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    min-height: 100px;
    background-color: #3b3b40;
    padding: 16px;
    margin: 8px 0;

    border-radius: 4px;
    box-shadow: 1px 1px 4px #1f2028;
}

.dice-roller--log-container {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.dice-roller--log {
    flex-grow: 1;

    resize: none;
    overflow: scroll;
    scrollbar-width: none; /* FireFox */

    background-color: #3b3b40;
    color: #FCFEFF;
    line-height: 24px;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #1f2028;

    padding: 4px 4px;
    margin: 8px 0;
}
.dice-roller--log::-webkit-scrollbar {
    display: none;
}

.dice-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;

    column-gap: 10px;
    row-gap: 20px;
}

@media only screen and (max-width: 600px) {
    .dice-roller--summary {
        justify-content: center;
    }

    .dice-roller--results-container {
        width: 90%;
    }

    .dice-roller--log {
        height: 100px;
    }

    .dice-container {
        grid-template-columns: 1fr 1fr;
    }
}
