.directory-editor {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.directory-editor__inline-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
}

.directory-editor__file-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
}

.directory-editor__file-item-buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
