.terminal-editor-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.terminal-editor-page__list {
    display: flex;
    flex-direction: column;
    flex: 1;

    gap: 12px;
}

.terminal-editor-page__input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 20px;
}

.terminal-editor-page__directory-editor {
    flex: 6;
}
