button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    min-width: 50px;
    height: 40px;
    border-radius: 4px;
    transition: all .1s ease-in-out;

    color: #FCFEFF;
    border: none;
}
button:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 4px #1f2028;
    /* box-shadow: 1px 1px 12px #4a87acF0; */
    /* box-shadow: 1px 1px 12px #4a87acD0; */
    /* box-shadow: 1px 1px 12px #FCFEFF40; */
}

.button-sheen {
    position: relative;
    overflow: hidden;
}
.button-sheen:before {
    content: "";

    position: absolute;
    top: 0;
    left: -100%;

    width: 100%;
    height: 100%;

    background: linear-gradient(
        120deg,
        transparent,
        #ededed40,
        transparent
    );
    transition: all 650ms;
}

.button-sheen:hover:before {
    left: 100%;
}

.default-button {
    background-color: #708694;
}
.default-button:hover {
    background-color: #4a87ac;
}

.delete-button {
    background-color: #a02e2f;
}
.delete-button:hover {
    background-color: #CC1818;
}

.subtle-button {
    background-color: transparent;
}

.dark-button {
    background-color: #313137;
}
.dark-button:hover {
    background-color: #3b3b40;
}

@media only screen and (max-width: 600px) {
    button {
        width: 100%;
    }
}