.cart-item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 120px;
    width: 200px;
    padding: 12px;
    gap: 20px;
    
    background-color: #3b3b40;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #1f2028;
}

.cart-item__cost-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cart-item__cost {
    font-size: 32px;
    font-weight: 700;
}