.weapon-maker {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    min-height: 600px;

    gap: 12px;
}

.weapon-maker--title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.weapon-maker--weapon {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
    min-height: 320px;
    padding: 20px;
    gap: 8px;

    background-color: #3b3b40;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #1f2028;
}

.weapon-maker--damage {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    .weapon-maker--weapon {
        min-height: 400px;
    }
}
