.tile {
    height: 50px;
    width: 50px;
}

.tile--prairie {
    background-color: yellow;
}

.tile--forest {
    background-color: green;
}

.tile--mountain {
    background-color: grey;
}

.tile--swamp {
    background-color: teal;
}
