.tile-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tile-details__buildings-form {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
