.about-me {
    width: 100%;
    margin-bottom: 20px;
}

.about-me__skills {
    width: 100%;
}

.about-me__skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}
