
.skill-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.skill-card {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: #3b3b40;

    width: 55px;
    height: 55px;
    margin: 8px;
    padding: 8px;

    border-radius: 50%;
    box-shadow: 1px 1px 4px #1f2028;
}

.skill-card--image {
    width: 100%;
}
