
.skill-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4px;

    width: 150px;
    margin-bottom: 8px;

    background-color: #3b3b40;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #1f2028;
}

.skill-card__gradient {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 150px;
    width: 100%;

    border-radius: 8px;
    background-image: linear-gradient(to right, #1f2028, #3b3b40);
}

.skill-card__title {
    font-size: 16px;
    font-weight: 700;
}

.skill-card__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 1280px) {
    .skill-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .skill-grid {
        grid-template-columns: 1fr;
    }

    .skill-card {
        width: 90%;
    }
}


@media only screen and (max-width: 600px) {
    .skill-grid {
        grid-template-columns: 1fr;
    }

    .skill-card {
        width: 90%;
    }
}
