
.skill-card {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    width: 180px;
    height: 20px;
    margin: 8px;
    padding: 20px;

    border-radius: 16px;
    box-shadow: 1px 1px 4px black;
}
